<h1>Upload a Supercar to my Index Bitches!</h1>

<%= form_for @supercar do |f| %>

  <p>
    <%= f.label "Manufacturer" %><br>
    <%= f.text_field "manufacturer" %>
  </p>
  <p>
    <%= f.label "Model" %><br>
    <%= f.text_field "model" %>
  </p>
  <p>
    <%= f.label "Color" %><br>
    <%= f.text_field "color" %>
  </p>
    <p>
    <%= f.label "City" %><br>
    <%= f.text_field "city" %>
  </p>
    <p>
    <%= f.label "Country" %><br>
    <%= f.text_field "country" %>
  </p>      
  <p>
    <%= f.label "Image URL" %><br>
    <%= f.text_field "photo_url" %>
  </p>
  <p>
    <%= f.submit "Save", class: "btn btn-danger" %>
  </p>
<% end %>


  <% if @supercar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supercar.errors.count, "error") %> prohibited this supercar from being saved:</h2>

      <ul>
      <% @supercar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= link_to "Back to the index, bitches", supercars_path %>